*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma
}
/* =============== parte superior =============== */

.superior{
    padding: 5px 25px;
    background-color: #1B4168;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
}

.redes{
    display: flex;
    height: auto;
}

.redes a {
    margin: 0 10px;
    text-decoration: none;
}

.superior a{
    display: flex;
    margin-top: 2px;
    padding: 0%;
    /* position: relative; */
}

.superior a img{
    height: 64px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.icono-redes{
    color: #f7f7f7;
    font-size: 28px;

}
.icono-sesion{
    color: #f1f1f1;
    font-size: 24px;
}




/* =============== parte inferior =============== */

.inferior{
    padding: 20px 0px;
    background-color: #1284bd;
    display: flex;
    width: 100%; 
    position: sticky;
    top: 0;
    z-index: 10000;
    justify-content: left;
}
/* =============== parte Botones =============== */

.botones{
    display: flex;
    padding-left: 0;
}


.botones ul a{
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    text-decoration:none;
    transition: all 0.2s;
    padding:20px 40px;

}

.botones ul a:hover{
    background-color:rgb(10, 103, 150);
} 

.botones ul a:hover{
    color: #dfca12;
}  

/* =============== Parte pie de pagina =============== */

.abajo{

    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: 200px;
}

.texto-superior{
    display: flex;
    gap: 100px;
    padding-top: 50px;
    padding-left: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.telefono{
    margin-left:310px ;
}

.barra-azul2{
    display: flex;
    gap: 345px;
}
.barra-azul2 p{
        background-color: #1284bd;
        height: 5px;
        width: 120px;
        margin-left: 60px;
        margin-top: 10px;
}

.texto-inferior{
    display: flex;
    gap: 130px;
    padding-top: 20px;
    padding-left: 60px;
    color: gray;
}
.abajo-azul{
    background-color: #1284bd;
    width: 100%;
    height: 50px;
} 


/* PARTE NOTICIAS */
.contenedor-subtitulo h3{
    color: black;
    font-size: 40px;
    padding-top: 30px;
    text-align: center;
}
.texto{
    padding: 15px;
    display: flex;
    flex-direction:column; 
    align-items: center;
    justify-content:center;
}
.barra-azul{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.barra-azul p{
    background-color: #1284bd;
    height: 5px;
    width: 1200px;
}

/* --- Noticias --- */
.Linea-Fuerte{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.Linea-Fuerte p{
    background-color: #1B4168;
    height: 5px;
    width: 1600px;
}

.contenido-noticia {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    margin-bottom: auto; /* HAY QUE CAMBIAR ESTO */
}
.Autor, .Fecha{
    text-align: right;
}
.noticia{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    font-family: Tahoma;
}

.titulo-noticia{
    text-align: left;
    font-size: 25px;
    color: #1B4168;
}
.contenido-noticia p{
    flex: 1;
    padding-top: 10px;
    font-size: 19px;
    font-family: Tahoma;
    line-height: 1.5;
    text-align: justify;
}

.imagenes img{
    display: flex;
    flex-direction: row;
    max-width: auto;
    max-height: 200px;
    border-radius: 20px;
}

/* prueba */

.texto-completo {
    flex: 1;    /* Acomoda el texto automaticamente */
    max-height: 100px; /* Altura máxima para el texto cuando está minimizado */
    max-width: auto;    /* Hace que el ancho del texto de adapte a la imagen */ 
    overflow: hidden;   /* Oculta el contenido que se desborda de la altura máxima */
}


.btn-expandir {
    display: block; /* Hace el botón se muestre como un bloque */
    margin-left: auto; /* Hace que el boton este a la derecha */
    margin-top: 10px; /* Espacio adicional encima del botón */
    cursor: pointer;  /* Cambia el cursor al pasar por encima del botón */
    background-color: #fff; /* Color de fondo del botón */
    color: #1B4168;      /* Color del texto del botón */
    border: none;      /* Elimina el borde del botón */
}